# Predator Power Manager

# Build
build/
dist/
*.spec
.venv/
predator_pkg/resources.py

# Python
__pycache__/
*.pyc

# Kernel module build
*.o
*.ko
*.mod*
*.cmd
*.symvers
*.order

# IDE
.vscode/
.idea/

# OS
.DS_Store
