[Desktop Entry]
Name=Predator Power
Comment=Controle de TDP e perfis Acer Predator
GenericName=Power Manager
Exec=predator-power tray
Icon=cpu
Terminal=true
Type=Application
Categories=System;Settings;HardwareSettings;
Keywords=tdp;power;cpu;intel;throttle;performance;
StartupNotify=true
